.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 16px;
        width: 100%;
        max-width: 600px;

        .form_label {
            font-size: var(--fs-med);
        }

        .button {
            background-color: white;
            border: none;
            color: #165022;
            height: 64px;
            border-radius: 9px;
            margin-top: 64px;
            font-size: var(--fs-med);
        }

        .autocomplete {
            font-size: var(--fs-med);
        }
    }

    
}