html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

input[type='text'] {
  border: 2px solid white;
  background-color: #165022;
  color: white;
  border-radius: 9px;
  height: 64px;
  width: 100%;
  padding: 1rem;
  font-size: var(--fs-small);
}

:root {
  --desktop-pad: 48px;
  --mobile-pad: 24px;
  --fs-vbig: 64px;
  --fs-big: 32px;
  --fs-med: 20px;
  --fs-small: 16px;
}

.pac-item * {
  font-size: var(--fs-small);
}

button {
  background-color: white;
  border: none;
  color: #165022;
  height: 64px;
  border-radius: 9px;
  font-size: var(--fs-med);
  width: 100%;
}

input[type=range] {
  width: 100%;
  margin: 4px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #ffffff;
  border-radius: 1.3px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -8px;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  background: #ffffff;
  border-radius: 1.3px;
  width: 100%;
  height: 6px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5.8px 0;
  color: transparent;
  width: 100%;
  height: 6px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
