.container {
    height: 100vh;
    height: 100dvh;
    padding: var(--mobile-pad);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #165022;
    color: white;

    h1 {
        font-size: var(--fs-vbig);
    }

    h2 {
        width: 16ch;
        align-self: flex-end;
        text-align: end;
        font-size: var(--fs-med);
    }
}