.container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 16px;

    .circleFull {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
    }

    .circleEmpty{
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 50%;
    }

    .line {
        flex-grow: 1;
        height: 2px;
        background-color: white;
    }
}